<!-- Modal -->
<style>
  .box .btn{
    padding: 0px;
  }
  .box input{
    display: none;
  }
  .check{
    filter: brightness(90%);
  }
</style>
<div class="modal fade" id="Write" tabindex="-1" role="dialog" aria-labelledby="WriteTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="WriteTitle">숲 꾸미기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-3 box">
            <label class="btn btn-info">
              <img src="/media/tree.jpg" alt="tree" class="img-thumbnail img-check">
              <input type="radio" value="1" class="hidden" autocomplete="off">
            </label>
          </div>
          <div class="col-3 box">
            <label class="btn btn-info">
              <img src="/media/butterfly.jpg" alt="butterfly" class="img-thumbnail img-check">
              <input type="radio" value="2" class="hidden" autocomplete="off">
            </label>
          </div>
          <div class="col-3 box">
            <label class="btn btn-info">
              <img src="/media/flower.jpg" alt="flower" class="img-thumbnail img-check">
              <input type="radio" value="3" class="hidden" autocomplete="off">
            </label>
          </div>
          <div class="col-3 box">
            <label class="btn btn-info">
              <img src="/media/cloud.jpg" alt="cloud" class="img-thumbnail img-check">
              <input type="radio" value="4" class="hidden" autocomplete="off">
            </label>
          </div>
        </div>
    		<label for="content" style="float: left">내용</label>
    		<div class="input-group mb-3">
    		  <textarea type="text" class="form-control" id="content" maxlength="150" placeholder="내용을 150자 이내로 입력해주세요" onclick="$(this).focus()"></textarea>
    		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button id="Insert" type="button" class="btn btn-info">꾸미기</button>
        </div>
      </div>
  </div>
</div>

<script>
  $('.img-check').click(function(e) {
    $('.img-check').not(this).removeClass('check').siblings('input').prop('checked',false)
    $(this).addClass('check').siblings('input').prop('checked',true)
  })
  $("#Insert").click(function(){
    var img = $("input[type='radio']:checked").val()
    var content = $("textarea").val()
    console.log("선택한 객체 : " + img)
    console.log("내용 : " + content)
    // 이미지 1:나무 / 2:나비 / 3:꽃 / 4:구름, 내용
    var formData = 'mode=insertMsg&type='+img+"&message="+content;
    $.ajax({
      url: "http://54.169.253.56/",
      contentType: 'application/json; charset=utf-8',
      crossDomain: true,
      dataType: 'jsonp',
      method : "POST",
      data : formData,
      success: function (data, textStatus, jqXHR) {
        //console.log(data);
        // 성공시 새로고침
        location.href="/";
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);

      }
    })
  })
</script>
