{% extends "./Base.html" %}

{% block content %}
{% load static %}
<div id="info">
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#Write">
		숲 꾸미기
	</button>
	{% include './Modal/Write.html' %}
    {% include './Modal/Detail.html' %}
</div>
<script>

    var camera, scene, renderer
    var mouse = new THREE.Vector2(), INTERSECTED
    var mesh
    var raycaster = new THREE.Raycaster()
	var mouseVector = new THREE.Vector3()

    init()
    animate()


    {% include './js/init.js' %}

    function onWindowResize() {

        camera.aspect = window.innerWidth / window.innerHeight
        camera.updateProjectionMatrix()

        renderer.setSize( window.innerWidth, window.innerHeight )

    }
    var animate_loop = 0
    var t=0
    function animate() {
        requestAnimationFrame( animate )
        // butterfly_1.rotation.y += 0.02
        renderer.render( scene, camera )
    }

    {% include './js/ground.js' %}
    {% include './js/tree.js' %}
    {% include './js/butterfly.js' %}
    {% include './js/cloud.js' %}
    {% include './js/flower.js' %}
    {% include './js/lake.js' %}

    // 다른 객체들 추가해주세요!!

    function onDocumentMouseUp( event ) {
    	// 모달이 실행되지 않는 상황에서
    	if(!$('.modal').hasClass('show')){
    		event.preventDefault()
			var uuid = new DeviceUUID().get()
			x = ( event.clientX / window.innerWidth ) * 2 - 1
			y = - ( event.clientY  / window.innerHeight ) * 2 + 1
			mouseVector.set( x, y, 0.5 )
			raycaster.setFromCamera( mouseVector, camera )
			var obj = raycaster.intersectObject( scene, true )
			try{
				var obj_name = obj[0].object.name;
				if (obj_name!=""){
                    $('#Detail').modal('show')
                    var formData = 'mode=getMsg&txId='+obj_name+"&device_id="+uuid;;
                    $.ajax({
                        url: "http://54.169.253.56/",
                        contentType: 'application/json; charset=utf-8',
                        crossDomain: true,
                        dataType: 'jsonp',
                        method : "POST",
                        data : formData,
                        success: function (data, textStatus, jqXHR) {
							var fixedResponse = data.data.replace(/\\'/g, "'");
							var jsonObj = JSON.parse(fixedResponse);
							console.log(jsonObj);
							$(".text-left").html(jsonObj.message);
							$("#heart").data( "role", jsonObj.txId )
							//하트를 누른상태일 경우
							if( jsonObj.likeCnt == "1" ){
								$("#heart").attr('src', "/media/heart.png")
							}
                            else{
                                $("#heart").attr('src', "/media/no_heart.png")
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                            console.log(textStatus);
                            console.log(errorThrown);

                        }
                    })
				}
			}
			catch(err){
				// console.log(err)
			}
    	}
	}
</script>
{% endblock %}
